/.cache/
/.chatgpt-shell.el
/.org-id-locations
/bookmarks
/custom.el
/early-init.el
/eln-cache/
/init.el
/llama-swap/
/logview-cache.extmap
/malb.el
/minimal.elc
/mu4e-test.el
/org-clock-save.el
/org-common-files.el
/org-export-init.el
/org-export-template.ott
/pandoc-mode/
/projects
/reveal.js/
/snippets/
/srecode-map.el
/themes/
/tramp
/tramp-rpc/
/url/
*.elc
/user-lisp/pari/
/user-lisp/llm-prompts.el
